<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- CONTENT SECURITY POLICY -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' img/; img-src 'self' data: http://www.w3.org;  style-src 'self' https://stackpath.bootstrapcdn.com https://fonts.gstatic.com https://fonts.google.com https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com https://fonts.google.com https://fonts.googleapis.com https://*.fontawesome.com/; script-src 'self' https://code.jquery.com/ https://cdnjs.cloudflare.com https://stackpath.bootstrapcdn.com https://fonts.google.com;">

        <title>Quizzicle</title>
        <!-- Custom CSS -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light nav-backgr static-top shadow">
            <div class="container">
                <h1>IT'S QUIZZICLE TIME!</h1>
            </div>
        </nav>

        <!-- User Input -->
        <div class="container">
            <div class="card border-0 shadow my-5">
                <div class="card-body p-5">
                    <div class="row">
                        <div class="col">
                            <h3>Let's play a game...</h3>
                        </div>
                        <div class="col">
                            <form method="POST">
                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        <input class="input" name="city" type="text" placeholder="Enter City Name">
                                    </div>
                                    <div class="control">
                                        <button class="button is-info btn btn-primary">
                                            Add City
                                        </button>
                                    </div>
                                </div>
                                {% with notifications = get_flashed_messages(with_categories=true) %}
                                {% if notifications %}
                                    {% for category, notification in notifications %}
                                        {% set notification_class = 'alert-success' %}

                                        {% if category == 'error' %}
                                            {% set notification_class = 'alert-danger' %}
                                        {% endif %}
                                            <div class="alert {{ notification_class }}" role="alert">{{ notification }}</div>
                                    {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Weather Output -->
        <div class="container">
            <div class="card border-0 shadow my-5">
                <div class="card-body p-5">
                    <div class="row">
                        <div class="col">
                        </div>
                        <div class="col">
                            {% for weather in weather_data %}
                            <div class="card-body">
                                <article class="media">
                                    <div class="media-left">
                                        <figure class="image is-50x50">
                                            <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <div class="content">
                                            <p class="info">
                                                <span class="title">{{ weather.city }}</span>
                                                <br>
                                                <span class="temp_back">{{ weather.temperature }}° C</span>
                                                <br> {{ weather.description }}
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col">
                            {% for weather in weather_data %}
                            <div class="card-body">
                                <article class="media">

                                    <div class="media-content">
                                        <div class="content">
                                            <p class="info">
                                                <span></span>
                                                <br>
                                                <span>humidity: {{ weather.humid }}%</span>
                                                <br>clouds: {{ weather.cloudy }}%
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>